
<div class="form-login-signup-container">
  <h1 class="app-name">Spotted</h1>
  <div class="fields-container">
    <%= form_with model: @user, url: sessions_create_path, html: { 'data-remote': true } do |f|%>
      <div class="field-container">
        <%= f.text_field :user_name, placeholder: 'Your username', class: 'form-control' %>
      </div>
      <div class="field-container">
        <%= f.password_field :password, placeholder: 'Your password', class: 'form-control' %>
      </div>
      <div class="field-container">
        <%= f.submit 'Login', class: 'btn btn-primary' %>
        <%= link_to new_user_path, class: 'btn btn-warning' do %>
          Sign up
        <% end %>
      </div>
    <% end %>
  </div>
</div>
