<% if !@albums.empty? %>
  <% @albums.each do |album| %>
    <div class="album-list-item">
      <div class="album-data">
        <div class="album-name">
          <h4><%= album.album_name %></h4>
        </div>
        <div class="album-year">
          <h6><%= album.year %></h6>
        </div>
      </div>
      <div class="album-actions">
        <%= link_to edit_spotted_album_path(album.id), class: 'btn btn-outline-light', remote: true do  %>
          <i class="fas fa-edit"></i>
        <% end %>
        <% if current_user.role == 'admin'%>
          <%= link_to spotted_album_path(album.id), class: 'btn btn-outline-light', method: :delete, remote: true do  %>
            <i class="fas fa-trash"></i>
          <% end %>
        <% end %>
      </div>
      <div class="float-breaker"></div>
    </div>
  <% end %>
<% else %>
  <div class="album-list-item">
    <h1>No album to display</h1>
  </div>
<% end %>