<div class="modal fade" id="modal-album" ariaLabeledBy="#modal-album" tab-index="-1" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        </div>
        <%= form_with model: album, url: albums_action_path, method: method, html: { 'data-remote': true } do |f| %>
          <div class="modal-body">
            <%= f.hidden_field :artist_id, value: artist.id %>
            <%= f.text_field :album_name, placeholder: "Album Name", required: true, class: 'form-control' %>
            <%= f.number_field :year, placeholder: "1994", required: true, class: 'form-control' %>
          </div>
          <div class="modal-footer">
            <%= f.submit class: 'btn btn-success', 'data-bs-dismiss': 'modal' do %>
              Create album
            <% end %>
            <%= f.button type: :reset, class: 'btn btn-danger', 'data-bs-dismiss': 'modal' do %>
              <i class="fas fa-times" ></i> Cancel
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>