<div class="form-login-signup-container">
  <h1 class="app-name">Spotted</h1>
  <div class="fields-container">
    <%= form_with model: @user, method: :post, html: { 'data-remote': true } do |f| %> 
      <div class="field-container">
        <%= f.text_field :full_name, placeholder: 'Your full name', required: true, class: 'form-control' %>
      </div>
      <div class="field-container">
        <%= f.text_field :user_name, placeholder: 'Your username', required: true, class: 'form-control' %>
      </div>
      <div class="field-container">
        <%= f.password_field :password, placeholder: 'Your password', required: true, class: 'form-control' %>
      </div>
      <div class="field-container">
        <%= f.password_field :password_confirmation, placeholder: 'Your password confirmation', required: true, class: 'form-control' %>
      </div>
      <div>
        <div>
          <%= f.label :role, 'user:'%>
          <%= f.radio_button :role, :user, checked: true %>
        </div>
        <div>
          <%= f.label :role, 'admin:'%>
          <%= f.radio_button :role, :admin %>
        </div>
      </div>
      <div>
        <%= link_to root_path, class: 'btn btn-primary' do %>
          Return
        <% end  %>
        <%= f.button 'Clear', type: :reset, class: 'btn btn-warning' %>
        <%= f.submit 'Register', class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>
