<section id="artist-list">
  <% @artists.each do |artist| %>
    <%= link_to spotted_artist_albums_index_path(artist.id), class: 'link-to-artist' do %>
      <div class="artist-list-item">
        <h5 class="artist-name"><%= artist.name %></h5>
        <div class="artist-twitter">
          <p><%= artist.twitter %></p>
        </div> 
      </div>
    <% end %>
  <% end %>
</section>
