<% modal_form_edit = j render(partial: 'spotted/albums/partials/album_modal_form', 
                              locals: { 
                                album: album, 
                                artist: artist, 
                                albums_action_path: albums_action_path,
                                method: method 
                              }, 
                              layout: false )%>
(function  () {
  let modal_form_edit_containter = document.querySelector('.modal-edit-container')
  if(modal_form_edit_containter){
    modal_form_edit_containter.innerHTML = '<%= modal_form_edit %>'
  }
}).call(this)