<section class="artist-data header-container">
  <h1><%= @artist.name %></h1>
  <p><%= @artist.twitter%></p>
</section>
<section class="create-new-album-action">
  <%= button_tag class: "btn btn-lg btn-create-new-album" do %>
    <i class="fas fa-plus"></i> Create new album
  <% end %>
</section>
<section class="albums-list">
  <%= render 'spotted/albums/partials/albums_list' %>
</section>
<section class="modal-new-album-container" style="display: inline;">
  <%= render 'spotted/albums/partials/album_modal_form', album: @new_album, artist: @artist, albums_action_path: spotted_albums_path, method: :post%>
</section>
<section class="modal-edit-container" style="display: inline;">
</section>