<% albums_list = j render partial: 'spotted/albums/partials/albums_list', locals: { albums: albums }  %>
(function (){
  let albums_list = document.querySelector('.albums-list')
  if(albums_list){
    albums_list.innerHTML = '<%= albums_list %>'
  }
}).call(this)