@import 'spotted_generics';

html, body { 
  height: 100vh;
}

#site-header{ 

  height: 10em;
  padding-left: 15px;
  padding-right: 15px;

  #site-header-content{
    float: left;
  }

  nav {
    float: right;
    margin-top: 1.5em;  
    ul { 
      list-style-type: none;
    }
  }
}

.float-breaker { 
  clear: both;
}

.form-login-signup-container{ 
  width: 25%; 
  border: 1px solid $spotted-secondary;
  border-radius: 1em;
  padding: 2em;
  margin: auto; 
  position: absolute;
  top: 50%; 
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  .app-name{
    text-align: center;
    color: white; 
    background: $spotted-tertiary;
    background: $spotted-gradient;
    padding: 0.5em;
    border-radius: 0.5em;
  }

  .field-container{
    margin: 0.5em 0;
  }

}

.header-container{
  width: 100%;
  color: white;
  background: $spotted-tertiary;
  background: $spotted-gradient;
  padding: 0 10px;
}

.spotted-header{
  width: 75%;
  color: white;
  background: $spotted-tertiary;
  background: $spotted-gradient;
  border-radius: 0.5em;
  margin-top: 10px;
  padding: 0 10px;
}