
// Main color pallet
$spotted-main: #940034;
$spotted-secondary: #E0165D;
$spotted-tertiary: #470019;
$spotted-dark-green: #004706; 
$spotted-light-green: #00940D; 

$spotted-gradient: linear-gradient(125deg, $spotted-secondary, $spotted-light-green);
$spotted-gradient-reverse: linear-gradient(125deg, $spotted-light-green, $spotted-secondary);

$spotted-secondary-gradient: linear-gradient(125deg, $spotted-main, $spotted-tertiary);
$spotted-secondary-gradient-reverse: linear-gradient(125deg, $spotted-tertiary, $spotted-main);
