
@import '../spotted_generics.scss';

.btn-create-new-album {
  background: $spotted-gradient;
  display: inline-block;
  color: white; 
  width: 70%;
  margin: auto;
}

.btn-create-new-album:hover{
  background: $spotted-gradient-reverse;
}
.albums-list{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;

  .album-list-item{ 
    color: white; 
    background: $spotted-main;
    background: $spotted-secondary-gradient;
    width: 80%;
    border-radius: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    transition: background 1s;
    padding-left: 2em;

    .album-data{ 
      float: left;
    }

    .album-actions{ 
      float: right;
    }
  }

  .album-list-item:hover{ 
    background: $spotted-secondary-gradient-reverse;
  }

}