
@import '../spotted_generics.scss';

#artist-list{
  width: 80%;
  margin: auto;
  display: grid; 
  justify-content: center;
  gap: 5em;
  grid-template-columns: 10em 10em 10em 10em 10em;

  .link-to-artist{ 
    text-decoration: none;
  }

}

.artist-list-item{ 
  width: 10em;
  height: 10em;
  color: white; 
  background: $spotted-tertiary;
  background: $spotted-gradient;
  transition: background 0.5s;
  text-align: center;
  padding-top: 2em;
  border-radius: 2em;
}

.artist-list-item:hover{
  background: $spotted-gradient-reverse;
}