<!DOCTYPE html>
<html>
  <head>
    <title>Spotted</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_pack_tag params[:controller], 'data-turbolinks-track': 'reload', defer: true%>
  </head>
  <body>
    <section id="site-header">
      <div id="site-header-content" class="spotted-header">
        <%= link_to spotted_artists_index_path do %>
          <h1>Spotted</h1>
        <% end %>
      </div>
      <nav>
        <ul>
          <li>
            <%= link_to sessions_destroy_path, method: :delete, class: 'btn btn-primary' do %>
              <i class="fas fa-sign-out-alt"></i> Logout
            <% end %>
          </li>
        </ul>
      </nav>
      <div class="float-breaker"></div>
    </section>
    <%= yield %>
  </body>
</html>